//**
// Responsive Styles
//**



@media screen and (min-width: $big-break) {
    .title-section {
        font-size: 70px;
    }
    .body-container {
        height: 100vh;
    }
    #bg-gradient {
        display: block;
    }
    #bg-gradient-mobile {
        display: none;
    }
    .submit-city-form {
        text-align: left;
    }
    .output {
        .suggestion {
            margin: 0;

            &__jacket {
                font-size: 170px;
                line-height: 157px;
                letter-spacing: -8px;
            }
            &__forecast {
                font-size: 45px;
            }
        }
    }
    .temp-card,
    .tweet-link {
        display: block;
    }
    .temp-box {
        font-size: 90px;
    }
    .temp-card-mobile,
    .tweet-link-mobile {
        display: none;
    }
}

@media (min-width: $small-break) and (max-width: $big-break) {
    .output {
        .suggestion {
            margin: 0;

            &__jacket {
                font-size: 170px;
                line-height: 157px;
                letter-spacing: -8px;
            }
            &__forecast {
                font-size: 45px;
            }
        }
    }
    .temp-card,
    .tweet-link {
        display: block;
    }
    .temp-card-mobile,
    .tweet-link-mobile {
        display: none;
    }
}

@media screen and (max-width: $small-break) {
    .title-section {
        font-size: 45px;
        &.minified {
          width: 100%;
          padding: 30px 15px;
          margin: 0;
        }
    }
    #bg-gradient {
        display: none;
    }
    #bg-gradient-mobile {
        display: block;
    }
    .submit-city-form,
    .input-text-holder {
        text-align: center;
    }
    .output {
        width: 93%;
        .suggestion {
            top: 40;
            padding: 0;
            width: 95%;
            &__jacket {
                font-size: 78px;
                line-height: 69px;
                letter-spacing: -4px;
            }
            &__forecast {
                font-size: 30px;
                width: 95%;
            }
        }
    }
    .temp-card,
    .tweet-link {
        display: none;
    }
    .temp-box {
        font-size: 45px;
        width: 94%;
        left: 3%;
        display: none;
    }
    .temp-card-mobile {
      padding: 0;
    }

    .tweet-link-mobile {
        display: block;
        position: absolute;
        bottom: 30px;
        opacity: 0;
    }

    .temp-card-mobile {
        display: block;
        position: absolute;
        bottom: -130px;
    }
}
