@import '_variables';

body {
    font-family: Arial;
    color: $white;
    background-color: #000;
    h1 {
        font-weight: 700;
    }
}

.body-container {
    height: 100vh;
    #bg-gradient {
        opacity: 0;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -200;
        background: rgba(30,46,65,1);
        background: -moz-linear-gradient(65deg, rgba(30,46,65,1) 0%, rgba(14,8,131,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(30,46,65,1)), color-stop(100%, rgba(14,8,131,1)));
        background: -webkit-linear-gradient(65deg, rgba(30,46,65,1) 0%, rgba(14,8,131,1) 100%);
        background: -o-linear-gradient(65deg, rgba(30,46,65,1) 0%, rgba(14,8,131,1) 100%);
        background: -ms-linear-gradient(65deg, rgba(30,46,65,1) 0%, rgba(14,8,131,1) 100%);
        background: linear-gradient(65deg, rgba(30,46,65,1) 0%, rgba(14,8,131,1) 100%);
    }
}

.row {
    margin: 0;
}

// Title Section

.title-section {
    font-family: $butler-stencil;
    text-align: center;
    margin-top: 30vh;
    font-size: 70px;
    color: $purple;

    &.minified {
        margin: 30px;
        padding: 0;
        font-size: 20px;
        text-align: left;
        height: 25px;
        -webkit-transition: all ease 1s; /* Safari */
        transition: all ease 1s;
    }
}

// Submit city-code

.submit-city-form {
    margin: 0 auto;
    text-align: left;
    .city-title {
        font-weight: 300;
        margin: 20px 0;
        font-size: 16px;
        font-family: Helvetica, Arial;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

#city-code {
    display: none;
}

.button-styled {
    display: block;
    float: right;
    background: none;
    color: $purple;
    font-size: 16px;
    padding: 9px 16px;
    font-family: $butler;
    border: $purple 1px solid;
    width: 30%;

    &:focus {
        outline: 0;
    }
}

.city-input {
    font-family: $typewriter;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom: 1px solid $purple;
    font-size: 25px;
    font-weight: 900;
    width: 68%;
    margin-top: 4px;

    &:focus {
        outline: 0;
    }

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #333;
        font-family: $typewriter;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #333;
       opacity:  1;
       font-family: $typewriter;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #333;
       opacity:  1;
       font-family: $typewriter;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #333;
       font-family: $typewriter;
    }
}

//Temp box
.temp-card {
    position: fixed;
    z-index: 100;
    top: 30px;
    right: -305px;
    height: 285px;
    width: 300px;
}
.temp-box {
    background: none;
    border: 1px solid $purple;
    font-family: $butler-stencil;
    text-align: center;
    font-size: 90px;
    color: $purple;
    &:hover {
        cursor:pointer;
    }
}

//Output styles
.output {
    position: relative;
    z-index: 50;
    padding-top: 40px;
    width: 95%;

    .suggestion {
        text-align: center;
        margin: 0;
        right: 2000px;
        width: 100%;
        position: absolute;
        z-index: -100;

        &__jacket {
            font-family: $balboa;
            text-align: left;
            font-size: 170px;
            line-height: 157px;
            letter-spacing: -8px;
        }
        &__forecast {
            // right: 100vw;
            width: 100%;
            position: absolute;
            z-index: -100;
            font-family: $butler;
            text-align: left;
            color: $purple;
            font-size: 45px;
        }
        .jacket__image {
            left: 0;
            position: absolute;
            opacity: 0;
            -ms-transform: rotate(-5deg); /* IE 9 */
            -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
            transform: rotate(-5deg);
            transform: scale(0.7);
            height: 420px;
        }
        .jacket__title {
        	font-size: 2.5em;
        	font-weight: 900;
        	margin: 0 auto;
        	padding: 1em 0 0 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            position: absolute;
            opacity: 0;

            span {
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
                font-size: 55%;
            	display: block;
            	color: $white;
                padding-top: 8px;
            }
        }
    }
}

.tweet-link {
    position: fixed;
    z-index: 100;
    bottom: -25px;
    left: 30px;
    width: 500px;
    opacity: 0.3;
    -webkit-transition: opacity ease 0.2s; /* Safari */
    transition: opacity ease 0.2s;
    &:hover {
        opacity: 1;
        -webkit-transition: opacity ease 0.2s; /* Safari */
        transition: opacity ease 0.2s;
    }
    a {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
    i {
        padding-right: 7px;
        vertical-align: middle;
    }
}
