@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    font-family: 'Playfair Display', serif;
    color: $white;
    background-color: $darkest-blue;
    h1 {
        font-weight: 700;
    }
}

.body-container {
    height: 90vh;
}

.row {
    margin: 0;
}

// Title Section

.title-section {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 14px;
    }

    .sub-header {
        opacity: 0.4;
        margin-top: 0;
    }
}

#active-ls,
#city-code {
    text-align: center;
    padding: 40px 0 40px 0;
    h1 {
        margin: 0;
    }
}

#city-code {
    display: none;
}

.button-styled {
    display: block;
    margin: 0 auto;
    background: $white;
    color: $darkest-blue;
    font-size: 16px;
    border-radius: 13px;
    padding: 9px 16px;
    font-family: 'Poppins', sans-serif;
    border: $white 1px solid;
    width: 40%;

    &:focus {
        outline: 0;
    }
}

.city-input {
    position: relative;
    bottom: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom: 1px solid $white;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    width: 40%;

    &:focus {
        outline: 0;
    }

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    $blue;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    $blue;
       opacity:  1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    $blue;
       opacity:  1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    $blue;
    }
}

.suggestions {
    text-align: center;
    margin: 50px 0;
    img {
        left: 0;
        position: absolute;
        opacity: 0;
        -ms-transform: rotate(-5deg); /* IE 9 */
        -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
        transform: rotate(-5deg);
        transform: scale(0.7);
        height: 420px;
    }
    h2 {
        left: 0;
        position: absolute;
        opacity: 0;
    }
}

.jacket__title {
	font-size: 2.5em;
	font-weight: 900;
	margin: 0 auto;
	padding: 1em 0 0 0;
}

.jacket__title span {
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 55%;
	display: block;
	color: $white;
    padding-top: 8px;
}
