@import url("https://fonts.googleapis.com/css?family=Special+Elite");
body {
  font-family: Arial;
  color: #FFF;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e2e41+0,0e1129+100 */
  background: #1e2e41;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e2e41 0%, #0e1129 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e2e41 0%, #0e1129 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e2e41 0%, #0e1129 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2e41', endColorstr='#0e1129',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100vh;
  overflow: hidden;
  width: 100vw; }
  body h1 {
    font-weight: 700; }

.body-container #bg-gradient,
.body-container #bg-gradient-mobile {
  opacity: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -200;
  background: #1e2e41;
  background: #1e2e41;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #1e2e41 0%, #0e0883 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #1e2e41 0%, #0e0883 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #1e2e41 0%, #0e0883 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2e41', endColorstr='#0e0883',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.row {
  margin: 0; }

.title-section {
  font-family: "butlerbold";
  text-align: center;
  margin-top: 20vh;
  padding: 0;
  opacity: 1;
  color: #9012FE;
  font-size: 70px; }
  .title-section.minified {
    margin: 30px;
    padding: 0;
    font-size: 20px;
    text-align: left;
    height: 25px;
    -webkit-transition: all ease 1s;
    /* Safari */
    transition: all ease 1s; }
  .title-section #loading {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: 0px;
    top: 0px; }
  .title-section #loading-center {
    width: 100%;
    height: 100%;
    position: relative; }
  .title-section #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px; }
  .title-section .object {
    width: 50px;
    height: 50px;
    border: 1px solid #9012FE;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
    position: absolute;
    top: 0px;
    right: -100px; }

@-webkit-keyframes animate {
  50% {
    -ms-transform: translate(-200px, 0) rotate(-180deg);
    -webkit-transform: translate(-200px, 0) rotate(-180deg);
    transform: translate(-200px, 0) rotate(-180deg); }
  100% {
    -ms-transform: translate(0, 0) rotate(180deg);
    -webkit-transform: translate(0, 0) rotate(180deg);
    transform: translate(0, 0) rotate(180deg); } }

@keyframes animate {
  50% {
    -ms-transform: translate(-200px, 0) rotate(-180deg);
    -webkit-transform: translate(-200px, 0) rotate(-180deg);
    transform: translate(-200px, 0) rotate(-180deg); }
  100% {
    -ms-transform: translate(0, 0) rotate(180deg);
    -webkit-transform: translate(0, 0) rotate(180deg);
    transform: translate(0, 0) rotate(180deg); } }

.submit-city-form {
  margin: 0 auto;
  width: 90%;
  max-width: 900px; }
  .submit-city-form .city-title {
    font-weight: 300;
    margin: 30px 0 5px 0;
    font-size: 70px;
    font-family: "butlerbold";
    letter-spacing: 1px; }

#city-code {
  display: none; }

.button-styled {
  display: block;
  background: none;
  color: #9012FE;
  font-size: 16px;
  padding: 9px 16px;
  font-family: "butlerbold";
  border: #9012FE 1px solid;
  width: 300px;
  margin: 0 auto; }
  .button-styled:focus {
    outline: 0; }

.city-input {
  font-family: "butlerbold";
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  border-bottom: 1px solid #9012FE;
  font-size: 70px;
  line-height: 10px;
  font-weight: 900;
  width: 60%;
  margin-top: 4px;
  margin-bottom: 20px; }
  .city-input:focus {
    outline: 0; }
  .city-input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #9012FE;
    opacity: 0.4;
    font-family: "butlerbold"; }
  .city-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9012FE;
    opacity: 1;
    font-family: "butlerbold"; }
  .city-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9012FE;
    opacity: 1;
    font-family: "butlerbold"; }
  .city-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9012FE;
    font-family: "butlerbold"; }

.temp-card {
  position: fixed;
  z-index: 100;
  top: 30px;
  right: -305px;
  height: 285px;
  width: 300px; }

.temp-box {
  background: none;
  border: 1px solid #9012FE;
  font-family: "butler_stencilregular";
  text-align: center;
  color: #9012FE; }
  .temp-box:hover {
    cursor: pointer; }

.output {
  position: relative;
  z-index: 50;
  padding-top: 40px;
  width: 95%; }
  .output .suggestion {
    right: 2000px;
    width: 100%;
    position: absolute;
    z-index: -100; }
    .output .suggestion__jacket {
      font-family: "butlerbold";
      text-align: left; }
    .output .suggestion__forecast {
      width: 100%;
      position: absolute;
      z-index: -100;
      font-family: "butlerbold";
      text-align: left;
      color: #9012FE; }

.tweet-link {
  position: fixed;
  z-index: 100;
  bottom: -25px;
  left: 30px;
  width: 500px;
  opacity: 0.3;
  -webkit-transition: opacity ease 0.2s;
  /* Safari */
  transition: opacity ease 0.2s; }
  .tweet-link:hover {
    opacity: 1;
    -webkit-transition: opacity ease 0.2s;
    /* Safari */
    transition: opacity ease 0.2s; }
  .tweet-link a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white; }
    .tweet-link a:hover {
      text-decoration: none; }
  .tweet-link i {
    font-size: 24px;
    padding-right: 7px;
    vertical-align: middle; }

.tweet-link-mobile {
  top: initial;
  bottom: 20px;
  opacity: 0; }
  .tweet-link-mobile a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white; }
    .tweet-link-mobile a:hover {
      text-decoration: none; }
  .tweet-link-mobile i {
    font-size: 36px;
    padding-right: 7px;
    vertical-align: middle; }

@media screen and (min-width: 780px) {
  .title-section {
    font-size: 70px;
    width: 100%; }
  .body-container {
    height: 100vh; }
  #bg-gradient {
    display: block; }
  #bg-gradient-mobile {
    display: none; }
  .submit-city-form {
    text-align: left; }
  .output .suggestion {
    margin: 0; }
    .output .suggestion__jacket {
      font-size: 170px;
      line-height: 157px;
      letter-spacing: -8px; }
    .output .suggestion__forecast {
      font-size: 45px; }
  .temp-card,
  .tweet-link {
    display: block; }
  .temp-box {
    font-size: 90px; }
  .temp-card-mobile,
  .tweet-link-mobile {
    display: none; } }

@media (min-width: 480px) and (max-width: 780px) {
  .output .suggestion {
    margin: 0; }
    .output .suggestion__jacket {
      font-size: 170px;
      line-height: 157px;
      letter-spacing: -8px; }
    .output .suggestion__forecast {
      font-size: 45px; }
  .temp-card,
  .tweet-link {
    display: block; }
  .temp-card-mobile,
  .tweet-link-mobile {
    display: none; } }

@media screen and (max-width: 480px) {
  .title-section {
    padding: 30px;
    font-size: 45px; }
    .title-section.minified {
      width: 100%;
      padding: 30px 15px;
      margin: 0; }
    .title-section .city-title {
      font-size: 45px; }
    .title-section .city-input {
      width: 100%;
      font-size: 45px;
      margin-top: 0; }
      .title-section .city-input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        font-size: 45px;
        text-align: center; }
      .title-section .city-input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-size: 45px;
        text-align: center; }
      .title-section .city-input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-size: 45px;
        text-align: center; }
      .title-section .city-input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 45px;
        text-align: center; }
  #bg-gradient {
    display: none; }
  #bg-gradient-mobile {
    display: block; }
  #loading-center-absolute {
    top: 75%; }
  .submit-city-form,
  .input-text-holder {
    text-align: center; }
  .output {
    width: 93%; }
    .output .suggestion {
      top: 40;
      padding: 0;
      width: 95%; }
      .output .suggestion__jacket {
        font-size: 75px;
        line-height: 69px;
        letter-spacing: -4px; }
      .output .suggestion__forecast {
        font-size: 30px;
        width: 95%; }
  .temp-card,
  .tweet-link {
    display: none; }
  .temp-box {
    font-size: 45px;
    width: 94%;
    left: 3%;
    display: none; }
  .temp-card-mobile {
    padding: 0; }
  .tweet-link-mobile {
    display: block;
    position: absolute;
    bottom: 30px;
    opacity: 0; }
  .temp-card-mobile {
    display: block;
    position: absolute;
    bottom: -130px; } }
